@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: Roboto, "Helvetica Now Text", "Helvetica neue", Arial, sans-serif;
  scroll-behavior: smooth;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

#modalUpdate {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#modalUpdate::-webkit-scrollbar {
  display: none;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
}
