@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: Roboto, "Helvetica Now Text", "Helvetica neue", Arial, sans-serif;
  scroll-behavior: smooth;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

#modalUpdate {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#modalUpdate::-webkit-scrollbar {
  display: none;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
}

select {
      appearance: none;       /* For most modern browsers */
      -webkit-appearance: none; /* For WebKit-based browsers (Safari, Chrome) */
      -moz-appearance: none;    /* For Firefox */
      background: transparent; /* Transparan untuk menghapus background default */
      border: 1px solid #ccc;   /* Tambahkan border untuk styling */
      padding: 8px;            /* Padding untuk memberi ruang teks */
      font-size: 16px;         /* Ukuran font */
    }

    /* Menghilangkan ikon bawaan di Internet Explorer */
    select::-ms-expand {
      display: none;
    }